.v-application {
    color: #fff !important;
    .title {
        font-size: unset !important;
        font-weight: unset !important;
        letter-spacing: unset !important;
    }

    a {
        color: unset !important;
    }
}