input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:focus {
    outline: none;
  }
  
  input[type='radio']:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  ::-moz-focus-inner{
    border: 0;
  }
  
  ol {
    list-style: none;
  }
  
  .filters{
    text-align: center;
    max-width: 890px;
  }
  
  .filters * {
    display: inline-block;
  }

  .filters li:nth-child(odd) {
    justify-self: flex-end;
  }
  .filters li:nth-child(even) {
    justify-self: flex-start;
  }
  
  .filters label{
    border: 2px solid #2738DE;
  }
  
  .filters label{
    font-size: 1rem;
    padding: 0.5em 1.5em;
    margin-bottom: .5em;
    border-radius: 2em;
    max-width: 100%;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .filters label:hover {
    background-color: #2738DE;
  }
  
  /* SEMESTER FILTERS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="first"]:checked~.filters [for="first"],
  [value="second"]:checked~.filters [for="second"],
  [value="third"]:checked~.filters [for="third"],
  [value="fourth"]:checked~.filters [for="fourth"]
  {
    background-color: #2738DE;
  }
  
  [value="first"]:checked~.semester-cards .card-wrapper:not([data_category~="first"]),
  [value="second"]:checked~.semester-cards .card-wrapper:not([data_category~="second"]),
  [value="third"]:checked~.semester-cards .card-wrapper:not([data_category~="third"]),
  [value="fourth"]:checked~.semester-cards .card-wrapper:not([data_category~="fourth"])
  {
    display: none;
  }

  /* SEMESTER 6 FILTERS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="grp_all"]:checked~.filters [for="grp_all"],
  [value="grp_analyse"]:checked~.filters [for="grp_analyse"],
  [value="grp_advise"]:checked~.filters [for="grp_advise"],
  [value="grp_design"]:checked~.filters [for="grp_design"],
  [value="grp_realise"]:checked~.filters [for="grp_realise"],
  [value="grp_personal"]:checked~.filters [for="grp_personal"],
  [value="grp_oriented"]:checked~.filters [for="grp_oriented"],
  [value="grp_manage"]:checked~.filters [for="grp_manage"]
  {
    background-color: #2738DE;
  }

  [value="grp_all"]:checked~.row-grid [data-category] {
    display: grid;
  }
  [value="grp_analyse"]:checked~.row-grid a:not([data_category~="grp_analyse"]),
  [value="grp_advise"]:checked~.row-grid a:not([data_category~="grp_advise"]),
  [value="grp_design"]:checked~.row-grid a:not([data_category~="grp_design"]),
  [value="grp_personal"]:checked~.row-grid a:not([data_category~="grp_personal"]),
  [value="grp_oriented"]:checked~.row-grid a:not([data_category~="grp_oriented"]),
  [value="grp_realise"]:checked~.row-grid a:not([data_category~="grp_realise"]),
  [value="grp_manage"]:checked~.row-grid a:not([data_category~="grp_manage"])
  {
    display: none;
  }
  [value="grp_analyse"]:checked~.row-grid .modal-link  .overview-grid div .a-ghostbtn:not([data_category~="grp_analyse"]),
  [value="grp_advise"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_advise"]),
  [value="grp_design"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_design"]),
  [value="grp_personal"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_personal"]),
  [value="grp_oriented"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_oriented"]),
  [value="grp_realise"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_realise"]),
  [value="grp_manage"]:checked~.row-grid .modal-link .overview-grid div .a-ghostbtn:not([data_category~="grp_manage"])
  {
    display: flex;

  }

  @media (max-width: 300px) {
    .filters {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
  }