.v-application {
  .title {
      font-size: unset !important;
      font-weight: unset !important;
      letter-spacing: unset !important;
  }

  a {
      color: unset !important;
  }
}

a:focus,a:visited,a:active{
  outline: none;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  background-color: #242424;
  color: #fff;
  font-family: louis_george_caferegular, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 1.3rem;
}

.layout-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  padding: 0em 2em 0;
  max-width: 1536px;
  width: 100%;
  height: 100%;
  margin-top: 6em;
  gap: 2em;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.page-title {
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 100%;
}

.page-title h1 {
  letter-spacing: 10px;
  text-align: justify;
  font-size: 13.3vw;
  font-family: louis_george_cafebold;
  white-space: nowrap;
}

.page-title h1::after {
  content: "";
  display: inline-block;
  max-width: 100%;
}

@media (max-width: 300px) {
  .wrapper {
    padding: 0em 1em;
  }
}

@media (min-width: 640px) {
  html {
    padding-right: calc(17px - (100vw - 100%));
  }

  section{
    height: 100%;
    align-items: flex-start;
  }

  .wrapper {
    padding: 0em 4em;
    margin-top: unset;
  }

  .page-title {
    line-height: unset;
  }

  .page-title h1 {
    font-size: calc(32px + 28*(100vw - 320px)/1120);
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
