html,body{
  height:100%;
  overflow-y: hidden;
}
body {
  background-color: #242424;
  color: #fff;
  font-family: louis_george_caferegular, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}



.layout-body {
  display: flex;
  width: 100%;
}

.wrapper {
  flex-direction: column;
  align-self: center;
  padding: 0em 2rem;
  max-width: 1536px;
  width: 100%;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
  .wrapper {
    padding: 0em 4rem;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
