html {
  padding-right: unset;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (min-width: 640px) {
  html {
    padding-right: unset;
  }
}

h4{
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

.txt-link{
  border-bottom: #166ECC 2px solid;
  border-radius: 2px;
}
