.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.main-nav-wrapper {
  display: flex;
  justify-content: row;
}

.nav-app-bar {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 100% !important;
}

.sidepanel {
  position: fixed;
  width: 200px !important;
  height: 100% !important;
  /* height: calc(100% - 56px) !important; */
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
  color: #fff;
}

.v-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1em .5em;
}

.v-list-item-title p{
  font-size: 1.0rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  color: #000;
}

.leer-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-cont {
  display: flex;
  flex-direction: column;
}

.bbd-btn {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-self: center;
  max-width: 250px;
  padding: 20px 28px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  background-color: #166ECC;
  -webkit-box-shadow: 0 2px 2px 0 #10100e2e;
  box-shadow: 0 2px 2px 0 #10100e2e;
}

.pagination {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.pagination p {
  font-size: .8rem;
}

.pagination-prev,
.pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.pagination-prev {}

.pagination-next {}

.prev-chevron-left,
.prev-chevron-right {
  background-color: #166ECC;
}

.nav-wrapper {
  position: relative;
  display: flex;
  height: 56px;
}

.bottom-nav {
  z-index: 99;
  flex: 1;
  display: flex !important;
  justify-self: flex-end !important;
  background-color: #166ECC !important;
  box-shadow: unset !important;
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  color: #fff;
  /* z-index: 5; */
}

.nav-item {
  padding: 0 0.5em !important;
  background-color: #166ECC !important;
}

.bottom-nav a {
  display: flex;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  flex: 0 1 auto;
  font-size: 0.75rem;
  height: inherit;
  max-width: 168px;
  min-width: 80px;
  position: relative;
  text-transform: none;
  width: 100%;
}

.nav-item {
  height: inherit !important;
}

.nav-item span {
  display: flex;
  flex-direction: column;
  gap: .25em;
  font-size: .5rem;
  color: #fff !important;
}

.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
  color: #fff !important;
}

.bottom-desktop-nav {
  position: relative;
  bottom: 0;
  z-index: 99;
  display: none;
  -webkit-box-shadow: 0px -12px 51px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -12px 51px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -12px 51px -21px rgba(0, 0, 0, 0.75);
}

.desktop-nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  gap: 2rem;
}

ul li {
  letter-spacing: .1rem;
  padding: 1em 0em;
  font-weight: bold;
}

.desktop-next-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #000;
  font-weight: bold;
  letter-spacing: .05rem;
}

.svg-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  max-height: 2.5rem;
  fill: #000;
}

.nuxt-link-active {
  position: relative;
  border-bottom: 6px solid #fff;
  padding: 0 0 .1em 0;
  height: 100%;
}

@media (min-width: 300px) {
  .page-wrapper{
    padding: 1em 2em;
  }
  .bottom-nav {
    height: 65px !important;
    /* display: none !important; */
  }

  .bottom-nav a span i {
    font-size: 2rem !important;
  }

  .bottom-nav a span {
    font-size: 0.8rem !important;
  }

  .sidepanel {
    /* height: calc(100% - 65px) !important; */
  }
}


@media (min-width: 640px) {
  .page-wrapper {
    max-width: 800px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {

  .sidepanel {
    position: fixed;
    transform: translateX(0%) !important;
    visibility: visible;
    width: 200px !important;
    /* height: 100%; */
    /* height: calc(100% - 120px) !important; */
  }

  .sidepanel>* {
    font-size: 1.5rem;
  }

  .nav-app-bar {
    display: none;
  }

  .pagination-mobile {
    display: none;
  }

  .main-nav-wrapper {
    /* justify-content: flex-end; */
  }

  .main-nav-wrapper nav {
    /* position: relative; */
    width: 200px;
    justify-content: flex-start;
  }

  .page-wrapper {
    width: calc(100% - 200px);
    padding: 3em 3em;
  }

  .nav-wrapper {
    height: unset;
  }

  .bottom-nav-mobile {
    display: none;
  }

  .bottom-desktop-nav {
    display: flex;
    width: 100%;
    padding: 2em 2em;
    background-color: #fff;
    color: #000;
  }

  .nuxt-link-active {
    position: relative;
    border-bottom: 6px solid #000;
    padding: 0 0 .1em 0;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .bottom-desktop-nav {
    padding: 3em 6em;
  }

  .sidepanel {
    /* height: calc(100% - 152px) !important; */
  }
}

@media (min-width: 1536px) {

  .page-wrapper {
    max-width: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    /* padding: 3em 1em; */
  padding: 3em;

  }

  .bottom-desktop-nav {
    padding: 3em 16em;
  }
}
