.home-icon-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.home-icon-section p {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: louis_george_cafelight;
  color: #4758fc;
}

.home-icon-wrapper {
  display: flex;
  gap: 1rem;
}


.home-icon-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: .75rem;
  background-color: #000;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.home-icon-wrapper a:hover .home-icon-name {
  display: block;
  transform-origin: center;
  transform: translateX(-50%) rotate(10deg);
}

.home-icon-wrapper a p {
  position: absolute;
  bottom: 145%;
  left: 20%;
  width: 0;
  height: 0;
  display: none;
  font-size: 1rem;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  color: #4758fc;
}

.home-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.5rem;
  fill: #fff;
}

.home-photo-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.home-photo-wrapper img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 300px) {
  nav {
    padding: 1em 1em;
  }

  .home-icon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    max-width: 60%;
  }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
