:root {
  --modal-color: #4758FB;
}

a.close-modal {
  flex: 1 1 auto;
  height: 100%;
}

.modal {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  position: relative;
  width: 100%;
  z-index: 100;
  overflow-y: auto;
  padding-top: 2em;
  /* background-color: rgb(0, 0, 0, 0.7); */
}

.modal-content {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  color: #000;
}

.modal-header {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-color);
  padding: 1em 1.5em;
  gap: 2em;
  width: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.modal-header h1 {
  justify-content: center;
  word-wrap: break-word;
  font-size: 2rem;
  line-height: 1.2em;
  max-width: 100%;
  display:inline-block
}

.modal-close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  align-self: flex-end;
  text-align: right;
  font-weight: 20;
  font-size: 4.5rem;
  color: #fff;
}

.modalbody-container {
  background-color: #eceefc;
}

.modalbody-container img {
  /* align-self: flex-start; */
}

.col-lg-8 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5em 1.5em;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-lg-8 h1{
  display: flex;
  gap: .1em;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 900;
}
.col-lg-8 h1 span{
  font-size: 1.3rem;
}

.col-lg-8 h2{
  font-size: 1.5rem;
  font-weight: 600;
}
.col-lg-8 h3{
  font-size: 1.2rem;
  font-weight: 500;
}

.project-h1-section, .project-h2-section, .project-h3-section{
  display: flex;
  flex-direction: column;
  /* border-left: solid 1px #000; */
}
.project-h1-wrapper, .project-h2-wrapper, .project-h3-wrapper{
  display: flex;
  gap: .5em;
}

.project-sub-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-h1-wrapper::before, .project-h2-wrapper::before, .project-h3-wrapper::before{
  content: "\a0";
  /* display: block; */
  /* padding: 0 4px 0 0; */
  /* border-left: 1px solid #000;  */
  /* cursor: pointer; */
}



.project-h2-section, .project-h3-section{
  display: flex;
    flex-direction: column;
    /* margin-bottom: 1.5rem; */
    margin-top: 1rem;
    /* margin-left: 1em; */
    text-align: left;
}

.project-h2-section{
  margin-top: 4rem;
}

.project-h2-content p, .project-h3-content p{
  max-width: 40em;
}

.project-h2-content{
  display: flex;
  flex-direction: column;
  gap: .5em;
}


.project-body{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-img{
  
}

.pdf-padding {
  text-align: left;
  padding: 0rem 4rem 0.5rem 4rem;
}

.pdf-btn-cont{
  display: flex;
  gap: 1em;
}

.paddedText {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  gap: 1em;
  max-width: 40em;
  padding: 1.5em;
  color: #fff;
  background-color: #2738DE;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  text-align: center;
}

.paddedTextLine {
  display: flex;
  position: relative;
  align-self: center;
  width: 100%;
  height: 5px;
  border-radius: 0%;
  background-color: #4758FB;
}
.paddedTextLine-white {
  display: flex;
  position: relative;
  align-self: center;
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

a.paddedText{
  width: 100%;
  max-width: 100%;
  justify-content: center;
}
.paddedText-p{
  max-width: unset;
}

.svg-collab {
  display: flex;
  width: 38px;
  height: 23px;
  fill: #4758fb;
}

.research-cont{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.research-cont h3{
  margin-bottom: .5rem;
}

.research-tags-cont {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  width: 100%;
  gap: 1rem 0rem;
  margin-top: 1em;
}

.research-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5em 0em;
  border-radius: 0.5em;
  color: #fff;
  opacity: .4;
}

.research-active {
  opacity: 1;
  border: 2px dashed #000;
}

.research-tag img {
  max-width: 20%;
  width: 100%;
  height: auto;
}

.research-desktop {
  background-color: #A9CF3C;
}

.research-field {
  background-color: #57C4C2;
}

.research-lab {
  background-color: #8986C0;
}

.research-showroom {
  background-color: #FED01C;
}

.research-workshop {
  background-color: #27c1f0;
}

.research-text{
  margin-top: 0em;
}

.learned-cont {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.learned-cont h3 {
  margin: unset;
}

.learned-cont img {
  max-width: 30px;
  width: 100%;
  height: auto;
}

.label-cont {
  align-self: unset;
  padding: 1rem 0 0 0;
}

.text{
  display: flex;
  flex-direction: column;
}

.text > p, .label-cont > p{
  display: flex;
  flex-direction: column;
  max-width: 40em;
}

.text-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

.text-header h3 {
  margin: 0 0 0 0;
}

.list {
  display: grid !important;
  list-style: none;
  margin-left: 1.4em !important;
  margin-bottom: 1rem;
}

.list h3 {
  margin-top: 1.5rem;
}

.list-bullet {
  padding: unset !important;
  cursor: unset !important;
  width: 100% !important;
}

.list li::before {
  content: "\2022";
  color: #4758FB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.4em;
}

.centered{
  align-self: center;
}

.full-width{
  width: 100%;
  max-width: 100%;
}

.spacing{
  gap: 1em;
}

.max-w-40{
  max-width: 20em;
}

.justified-between{
  display: flex;
  justify-content: space-between;
}

.image-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: center;
  gap: 1em;
}

.img-round{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
}

.txt-link{
  border-bottom: #4758FB 2px solid;
  border-radius: 2px;
}

.white-link{
  border-bottom: #fff 2px solid;
}

.svg-github {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.5rem;
  fill: #fff;
}

.modal-close:hover {
  opacity: .6;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  background-color: var(--modal-color);
  padding: 5%;
  color: #fff;
  justify-content: flex-end;
}

.bntModalClose-bg-color,
.bntModalClose-bg-color:hover {
  background-color: #2738DE;
  color: #fff;
}

.btnModalClose {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 300;
  border-radius: 0.3em;
  overflow: hidden;
  cursor: pointer;
}

.btnModalClose:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  position: absolute;
  top: 0;
  left: -5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.btnModalClose:hover:before {
  transform: skewX(-45deg) translateX(19.5em);
  transition: all 0.7s ease-in-out;
}

@media (min-width: 640px) {

  .modal-content {
    margin: 0% auto 5%;
  }

  .modal-content{
    width: 95%;
    max-width: 65em;
  }

  .col-lg-8{
    max-width: 85%;
    padding: 3em 1.5em;
  }

  .modal-header {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .research-tags-cont {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    width: 100%;
    gap: 1rem;
  }

  .modal-close {
    cursor: pointer;
  }

  .modal-footer {
    border-radius:   0rem 0rem 0.5rem 0.5rem ;

  }


}

@media (min-width: 768px) {
  .image-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .modal-content{
    
  }

  .image-grid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .project-body{
    display: flex;
    
  }
}

@media (min-width: 1536px) {}
