nav {
  flex: 1;
  z-index: 99;
  display: flex;
  align-self: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1em 2em;
  height: 4em;
  background-color: #242424;
  /* border-bottom: 5px solid red; */
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
  /* max-width: 1536px; */
}

.nav-logo{
  display: flex;
  color: #4758fb;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.nav-logo::before{
  content: '<';

}
.nav-logo p{
 
}
.nav-logo::after{
  content: '>';
}

.nav-home {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.nav-home-1 {
  display: flex;
  gap: .5rem;
}

.nav-home-1 a p {
  font-size: 1.25rem;
    font-weight: 700;
    font-family: louis_george_cafelight;
    color: #4758fc;
}

.nav-home-2 {
  display: flex;
}

.nav-home-2 :nth-child(2) {
  color: #4b4b4b;
}

.svg-chevron.chevron-topnav {
  display: flex;
  align-self: center;
  width: 8px;
  height: 13px;
  transform: rotate(180deg);
  cursor: pointer;
  fill: #fff;
}

.svg-menu,
.menu-topnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

nav ul {
  display: none;
}

.nav-mobile {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #242424;
}

.nav-mobile.hamburger {
  display: flex;
  flex-direction: column;

}

.nav-mobile-cont {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1.25em 2em 0 2em;
}

.nav-mobile-header {
  display: flex;
  justify-content: flex-end;
}

.nav-mobile-items {
  display: flex;
}

.nav-item-cont {}
.nav-item-cont li{
  display: flex;
}

.nav-item-cont li a.nuxt-link-active::after {
  content: '<=';
  color: #4758FB;
  gap: 1rem;
  transition: 0.5s ease-in-out;
}

.nav-item-cont li a{
  display: flex;
  gap: .5em;
}

.svg-chevron.chevron-mobile-nav {
  display: flex;
  align-self: center;
  width: 8px;
  height: 13px;

  cursor: pointer;
}

.nav-item {
  font-family: louis_george_caferegular;
  font-size: 2rem;
}

.svg-close,
.menu-topnav {
  display: flex;
  justify-content: flex-end;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

@media (max-width: 300px) {
  nav {
    padding: 1em 1em;
  }

  .nav-mobile-cont {
    padding: 1.25em 1em;
  }

}

@media (min-width: 640px) {
  .nav-mobile.hamburger {
    display: none;
  }

  .svg-menu,
  .menu-topnav {
    display: none;
  }

  nav{
    position: relative;
    padding: 2em 4em;
  height: unset;
  background-color: unset;
  max-width: 1536px
  }
  

  nav ul {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 2rem;
  }

  nav ul li {
    letter-spacing: .1rem;
    padding: .75rem 0rem;
  }

  nav ul li a {
    position: relative;
    padding: .75em 1em;
  }

  nav ul a:hover::after {
    height: 100%;
    transition: all .5s ease;
  }

  nav ul li a::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: .1rem;
    transition: all .5s ease;
    background-color: #4758fc;
  }

  nav ul li a.nuxt-link-active {
    background-color: #4758fc;
  }

}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
